<ion-view view-title="Profile">
  <ion-content class="padding">
    <h2 align=center>Saurav Pratihar</h2>
    <img src="img/saurav.jpg" width="200px" style="margin:0px 17%">
    <p align=center>
     Web Developer <br>
     Hacker <br>
     Python Developer <br>
    </p>
    <div style="margin-top:20px;text-align:center">
      <h3>Contact</h3>
      <a href="mailto:pratihar.saurav@gmail.com">pratihar.saurav@gmail.com</a><br>
      <a href="http://www.sauavpratihar.com">sauavpratihar.com</a>
    </div>
  </ion-content>
</ion-view>
